@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

h1 {
  font-size: 1.5rem;
  margin: 5% 10%;
}

p {
  font-size: 1rem;
  margin: 0% 10%;
}

button {
  padding: 1%;
  border: 1px solid #ccc;
  font-weight: 900;
  font-size: medium;
  color: aliceblue;
  background-color: black;
  margin: 5% 10%;
  border-radius: 0.8rem;
}
